@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 43 50% 97%;
    --foreground: 212 40% 20%;
    --card: 0 0% 100%;
    --card-foreground: 212 40% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 212 40% 20%;
    --primary: 209 84% 41%;
    --primary-foreground: 0 0% 100%;
    --secondary: 212 40% 32%;
    --secondary-foreground: 0 0% 100%;
    --muted: 43 50% 90%;
    --muted-foreground: 212 20% 50%;
    --accent: 50 100% 53%;
    --accent-foreground: 212 40% 20%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 209 30% 85%;
    --input: 209 30% 85%;
    --ring: 209 84% 41%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 212 40% 12%;
    --foreground: 43 50% 95%;
    --card: 212 40% 15%;
    --card-foreground: 43 50% 95%;
    --popover: 212 40% 15%;
    --popover-foreground: 43 50% 95%;
    --primary: 209 84% 50%;
    --primary-foreground: 212 40% 10%;
    --secondary: 200 100% 60%;
    --secondary-foreground: 212 40% 10%;
    --muted: 212 40% 20%;
    --muted-foreground: 212 20% 60%;
    --accent: 50 100% 55%;
    --accent-foreground: 212 40% 15%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 212 40% 25%;
    --input: 212 40% 25%;
    --ring: 209 84% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }
}
